<form style="background-color: aliceblue;" >

<h1 class="text-center"> Welcome to DUT Maintenance site</h1>
<h2>ABOUT US</h2>
<p class="text-center" style="font-size: 14pt;"> Our application is designed with the intention of filtering all incoming maintenance issues freely and directly to the department.
    We aim to allow both students and faculty to have easy access and use simple steps to submit their queries and for the maintenance to provide direct feedback. 
</p>

<h2>HOW TO USE</h2>
<ul style="font-size: 14pt;">
    <li>Submit your student ID and password onto the site.</li>
    <li>Choose university where fault is located.</li>
    <li>Enter room number where fault is located/nearby.</li>
    <li>Select fault type.</li>
    <li>Comment observations and any additional information necessary for the Department.</li>
    <li>Submit fault log and await feedback, the maintenance Department will get back to you as soon as possible.</li>
  </ul> 

<h2>IF UNABLE TO LOG IN OR OTHER ERRORS</h2>
<p style="font-size: 14pt;">Email technical support:
    <a href="mailto:techsupport@dut.ac.za" title="mailto:techsupport@dut.ac.za" target="_blank" rel="noopener noreferrer" class="_11JPr selectable-text copyable-text">techsupport@dut.ac.za</a>
</p>
<p></p><p></p><br>
<a class="btn btn-primary" href="{{url_for('index')}}" role="button" style="font-size: 16pt;">Return to Sign-in</a>
</form>

